<div class="container">
    <%= image_tag("b01.png", class: "banners") %>
</div>

<!-- PORTAFOLIO -->
<div class="container">
  <div style="background-color: white" class="jumbotron">
  
    <h2>Diseño de cosplay, props y pintura</h2> 
    <h5>Portafolio</h5>

    <div class="w3-container w3-padding-64 w3-center">

      <div class="w3-quarter">
        <div class="w3-card w3-white">
          <%= image_tag("fig_corpsebride.png", size: "192x256") %>
          <div class="w3-container">
            <h4>Tim Burton - Corpse Bride</h4>
          </div>
        </div>
      </div>

      <div class="w3-quarter">
        <div class="w3-card w3-white">
          <%= image_tag("fig_mina.png", size: "192x256") %>
          <div class="w3-container">
            <h4>Boku no Hero Academia - Mina</h4>
          </div>
        </div>
      </div>

      <div class="w3-quarter">
        <div class="w3-card w3-white">
          <%= image_tag("fig_reaper.png", size: "192x256") %>
          <div class="w3-container">
            <h4>Overwatch - Reaper</h4>
          </div>
        </div>
      </div>

      <div class="w3-quarter">
        <div class="w3-card w3-white">
          <%= image_tag("fig_loki.png", size: "192x256") %>
          <div class="w3-container">
            <h4>Marvel - Loki</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="w3-container w3-padding-64 w3-center">

      <div class="w3-quarter">
        <div class="w3-card w3-white">
          <%= image_tag("fig_widow.png", size: "192x256") %>
          <div class="w3-container">
            <h4>Overwatch - Widowmaker</h4>
          </div>
        </div>
      </div>

      <div class="w3-quarter">
        <div class="w3-card w3-white">
          <%= image_tag("fig_scissorhand.png", size: "192x256") %>
          <div class="w3-container">
            <h4>Tim Burton - Edward Scissorhand</h4>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>


<div class="container">
    <%= image_tag("b02.png", class: "banners") %>
</div>

<!-- FLOW 3D PRINT PROCESS -->
<div class="container">
  <div style="background-color: white" class="jumbotron">
      
    <h5>Impresiones 3D</h5>
    
    <div class="w3-container w3-padding-64 w3-center">

      <div class="w3-row"><br>

      <div class="w3-quarter">
        <%= image_tag("stage1.png", size: "128x128", class: "w3-circle w3-hover-opacity") %>
        <h3>Impresión 3D</h3>
      </div>

      <div class="w3-quarter">
        <%= image_tag("stage2.png", size: "128x128", class: "w3-circle w3-hover-opacity") %>
        <h3>Ensamble y sellado</h3>
      </div>

      <div class="w3-quarter">
        <%= image_tag("stage3.png", size: "128x128", class: "w3-circle w3-hover-opacity") %>
        <h3>Capa primer</h3>
      </div>

      <div class="w3-quarter">
        <%= image_tag("stage4.png", size: "128x128", class: "w3-circle w3-hover-opacity") %>
        <h3>Pintura base</h3>
      </div>

    </div>
    
  </div>
</div>

